# NECESSARY PARAMETERS
avg_pdb = '...' 		# Local or Global position of the pdb file of the average structure of the system to be analzyed
pdb_file = 'truncated.pdb'	# Local or Global position of a pdb file of the MD system that will be analyzed
traj_loc = 'Trajectories/'	# Local or Global position of the directory where trajectories are located
start = 1 			# the integer of the trajectory that will be first to be analyzed
end = 150			# the integer of the trajectory that will be last to be analyzed
system = 'amber_apo'		# system descripter string, used for naming files
Wrapped = True

# OPTIONAL PARAMETERS
# ATOM SELECTION PARAMETERS
alignment = 'protein and name CA and (resid 20:25 50:55 73:75 90:94 112:116 142:147 165:169 190:194 214:218 236:240 253:258 303:307)'
important = 'protein or nucleic or resname A5 A3 U5 atp adp PHX MG'
substrate = 'nucleic or resname A5 A3 U5 atp adp PHX MG'	# WILL ONLY BE USED IF WRAPPED == FALSE; this selection string will be used to determine which residues are important to wrap about the alignment selection
residue_offset = 167

# AVERAGING PARAMETERS
# OUTPUT PARAMETERS
write_summary = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis
write_overview = True		# Boolean value; if True, the script will append information to a file that will amass information about which trajectories and the number of steps being averaged over; this file is then used in the weighted averaging script to obtain an average structure of a large number of steps.

